


/* General container */
.about-me-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    padding: 20px;
    margin-top: 5%;
    background-color: #03122F; /* Dark background */
    color: #fff; /* White text */
  }


  /* Cards */
  .card {
    border-radius: 12px;
    overflow: hidden;
    background-color: #1a1a1a;
    position: relative;
  }
  

  .image-card {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image-overlay-card {
    background-image: url(../../assets/surfing.JPG);
    background-position: 50% 50%;
    background-size: cover;
  }
  
  .image {
    width: 100%;
    height: auto;
    display: block;
    max-height: 400px;
    object-fit: cover;
  }
  
  
  /* Image with Overlay Text */
  .overlay-text {
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 6px;
  }
  
  .overlay-text p {
    margin: 0;
    font-size: 12px;
    color: #aaa;
  }
  
  .overlay-text h3 {
    margin: 0;
    font-size: 16px;
    color: #fff;
  }
  
  /* Text Card */
  .text-card {
    background: #F3DADF;
    color: #03122F;
    padding: 20px;
    overflow: auto;
  }
  
  .text-card .highlighted-text {
    font-size: 16px;
    line-height: 1.6;
    padding: 20px;
    text-align: left;
  }

  .hobbies-section {
    margin-top: 30px;
    text-align: left;
    color: #03122F;
  }
  
  .hobbies-section h2 {
    font-size: 4vh;
    margin-bottom: 1vh;
    text-align: center;
  }
  
  .hobbies-list {
    margin-left: 20px;
    padding: 1vh;
    
  }
  
  .hobbies-list li {
    font-size: 2.3vh;
    line-height: 4vh;
  }
  
  /* Ticket Card */
  .ticket-card {
    background: #AE7DAC;
    padding: 20px;
    color: #F3DADF;
    display: flex;
    height: auto;
    font-size: calc(0.5rem + 0.9vw);
    font-weight: bold;
  }
  
  @media (max-width: 768px) {
    .about-me-container {
      grid-template-columns: 1fr;
    }
  
    .ticket-card,
    .text-card {
      font-size: 4vw;
    }
  
    .hobbies-section h2 {
      font-size: 5vw;
    }
  
    .hobbies-list li {
      font-size: 4.5vw;
      line-height: 6vw;
    }

    .image-overlay-card {
      min-height: 600px; /* Ensure visibility on small screens */
    }

    .ticket-card {
      font-size: calc(0.9rem + 0.3vw);
  }
  }