/* index.css */

#main-slider-container {
    width: 100%;
    height: 630px;
    margin-top: 5%;
  }
  
  #slider {
    width: 100%;
    height: 100%;
    white-space: nowrap;
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
  }

  #slider::-webkit-scrollbar{
    display: none;
  }

  #main-slider-container {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .slider-card{
    width: 320px;
    height: 600px;
    border-radius: 20px;
    
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    opacity: 0.5;
  }

  .slider-card-title, .slider-card-description {
    text-align: left;
    margin-left: 10px;
    margin-bottom: 5px;
    text-wrap: wrap;
    color: #F3DADF;
  }

  .slider-card-title {
    font-size: 20px;
    font-weight: 800;
  }

  .slider-card-description {
    opacity: 0.8;
  }

  .slider-card-image {
    width: 100%;
    height: 70%;
    background-color:#F3DADF;
    border-radius: 20px;
    background-position: 50%;
  }
  

  .slider-card:hover {
    transition: all .2s ease;
    opacity: 1.5;
    
  }

  .slider-icon.left, .slider-icon.right {
    position: absolute;
    top: -60px;
    right: 60px;
    opacity: 0.1;
    color: #03122F;
    border-radius: 100%;
    background-color: #F3DADF;
    box-shadow: 0 4px 8px #413B61;
    cursor: pointer;
    z-index: 1000; /* Ensures buttons are on top */
  }
  
  .slider-icon.right {
    right: 15px;
  }
  
  .slider-icon.left:hover, .slider-icon.right:hover {
    opacity: 1.0;
    transform: scale(1.2);
  }

  @media (max-width: 1024px) {
    .slider-icon.left,
    .slider-icon.right {
        width: 40px;
        height: 40px;
        top: -50px;
    }
    .slider-icon.right {
      right: 15px;
    }
}

@media (max-width: 768px) {
    .slider-icon.left,
    .slider-icon.right {
        width: 30px;
        height: 30px;
        top: -40px;
    }
    .slider-icon.right {
      right: 25px;
    }
    
}

@media (max-width: 480px) {
    .slider-icon.left,
    .slider-icon.right {
        width: 25px;
        height: 25px;
        top: -30px;
    }
}
